@charset "utf-8";
.portfolio_all_wrap.cursor-inner.cursor-hover {
  background-color: var(--brown);
}
.portfolio_all_wrap.cursor-outer {
  border-color: var(--brown);
}
.portfolio_all_wrap.cursor-inner {
  background-color: var(--brown);
}
.portfolio_all_wrap.portfolio_topbar .list ul li.current a {
  color: var(--brown);
}
.portfolio_all_wrap.portfolio_topbar .list ul li a:hover {
  color: var(--brown);
}
.portfolio_all_wrap.portfolio_hero .name {
  color: var(--brown);
}
.portfolio_all_wrap .portfolio_hero .content .right .image .shape {
  background-color: var(--brown);
}
.portfolio_all_wrap.portfolio_hero .services ul li a:hover {
  color: var(--brown);
}
.portfolio_all_wrap .portfolio_hero .services ul li a:hover .svg {
  color: var(--brown);
}
.portfolio_all_wrap.portfolio_hero .down a:hover {
  color: var(--brown);
}
.portfolio_all_wrap.portfolio_main_title span {
  color: #fff;
}
.portfolio_all_wrap .portfolio_swiper_progress .my_navigation ul li a:hover {
  color: var(--brown);
}
.portfolio_all_wrap.progress_inner .background .bar_in {
  background: #fff;
}
.portfolio_all_wrap.portfolio_pricing .right .svg {
  color: var(--brown);
}
.portfolio_all_wrap .portfolio_pricing .right ul li .list_inner:hover {
  background-color: var(--brown);
}
.portfolio_all_wrap .portfolio_contact .short ul li .list_inner .svg {
  color: var(--brown);
}
.portfolio_all_wrap.portfolio_button a {
  background-color: var(--brown);
}
.portfolio_all_wrap.portfolio_button a:hover {
  background-color: var(--brown);
}
